body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 1.125rem;
}

.container {
	padding: 50px;
	position: relative;
	max-width: 1600px;

}

.container p {
	text-align: center;
}

.form-area {
	margin: 0 auto;
	max-width: 500px;
}

.form-area input {
	min-width: 100%;
	padding: 10px;
}

.form-area .btn {
	color: #fff;
	width: 80px;
	display: block;
	margin: 10px auto;
	padding: 10px;
	text-transform: uppercase;
	background-color: #2CBD4D;
	border: none;
	border-radius: 3px;
}

.list-users {
	padding: 0;
	margin: 0;
	flex-wrap: wrap;
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.list-users li{
	text-align: center;
	margin: 40px;
}

.view-user {
	transition: color 0.3s ease;
	color: #2CBD4D;
	display: block;
	text-decoration: none;
}

.view-user:hover {
	color: #18672b;
}

.home {
	color: #fff;
	background-color: #2CBD4D;
	text-decoration: none;
	padding: 10px 20px;
	transition: background-color 0.3s ease;
	border-radius: 3px;
}

.home:hover {
	background-color: #18672b;
}

.inner {
	max-width: 400px;
	margin: 0 auto;
	text-align: center;
	font-size: 25px;
}